<div class="hm-container">
      <div class="welcomeHome">
        <h1><%= current_user.fname %>'s Settings</h1>
          <form class="" action="/user" method="post">



              <p>First Name: <%= current_user.fname %></p>
              <input name="fnameEd" placeholder="First Name" value=""></input>

              <p>Last Name: <%= current_user.lname %></p>
              <input name="lnameEd" placeholder="Last Name" value=""></input>

              <p>Password: <%= current_user.password %></p>
              <input name="passEd" placeholder="Password" value=""></input>

              <p>Age: <%= current_user.age %></p>
              <input name="ageEd" placeholder="Age" value=""></input>

              <input type="submit" name="submit"  value="Save">

          </form>
     </div>
  </div>





>>>>>>> 82cc4e64ca17346c12e314b1c499d6c13d954045
