<div class="hm-container">
      <div class="welcomeHome">
        <h1><%= current_user.fname %>'s Settings</h1>

              <p>First Name: <%= current_user.fname %></p>
              <input name="fnameEd" placeholder="First Name" value=""></input>

              <p>Last Name: <%= current_user.lname %></p>
              <input name="lnameEd" placeholder="Last Name" value=""></input>

              <p>Password: <%= current_user.password %></p>
              <input name="passEd" placeholder="Password" value=""></input>

              <p>Age: <%= current_user.age %></p>
              <input name="ageEd" placeholder="Age" value=""></input>

              <input type="submit" name=""  value="Save">


     </div>
  </div>


<!-- <script>

  function fName(){
    fName = document.getElementById('fnameEd').value
    fName.innerHTML = document.getElementById('fnameEd').value
    console.log(fName)
  }

    function lName(){
      lName = document.getElementById('lnameEd').value
      lName.innerHTML = document.getElementById('lnameEd').value
      console.log(lName)
    }

    function pAss(){
      pAss = document.getElementById('pass').value
      pAss.innerHTML = document.getElementById('pass').value
      console.log(pAss)
    }

    function aGe(){
      aGe = document.getElementById('age').value
      aGe.innerHTML = document.getElementById('age').value
      console.log(aGe)
    }
</script> -->
